

body {
    background-color: black;
}


.home {
    color: blue;
    font: bold;
    font-family: cursive;
    font-size: large;
}

.links {
    color: yellow;
    font: italic;
    font-family: 'Times New Roman', Times, serif;
}

.contact {
    color: violet;
    font: lighter;
}